.uk-card-primary {
    cursor: pointer;
}

.uk-button{
    border-radius: 5em;
}
.uk-card{
    border-radius: 5px;
}

/* Mobile */
@media only screen and (max-width: 960px) {
    .uk-text-large {
        font-size: large;
    }
    .fa {
        font-size: x-large;
    }
}
